<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AcronymsAndInitialisms.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4C5970101C11E40A00D73EE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C5970291C11E40B00D73EE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C5970341C11E40B00D73EE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
