<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>איינשטיין מרסלו </string>
	<string>זוהר מרקט</string>
	<string>כל-זול בנימין</string>
	<string>מיני מרקט וינגייט</string>
	<string>מיני מרקט סגל</string>
	<string>מינימרקט פליקס</string>
	<string>מכולת ויבר</string>
	<string>מכולת סוגול</string>
	<string>סאבו</string>
	<string>סופר לב</string>
	<string>קסם הפרי והירק</string>
	<string>שופרסל שלי</string>
	<string>תמר את מישל בע&quot;מ</string>
</array>
</plist>
