<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>ברקה</string>
	<string>מנצילה</string>
	<string>קוקה</string>
	<string>איינשטיין</string>
	<string>מנגה</string>
	<string>רוזה</string>
	<string>דראפט</string>
	<string>גרייס</string>
</array>
</plist>
