<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>בניין 32 - קומה 1</string>
	<string>בניין 70 קומה -1</string>
	<string>בניין 90 - קומת כניסה</string>
	<string>בניין 26 - קומה 1</string>
	<string>בניין 72 - קומה 4 וחצי</string>
</array>
</plist>
