<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>בניין 70 - קומת כניסה</string>
	<string>בניין 70 - קומה 2 (חדר מרכז למידה)</string>
	<string>בניין 22 (ספריית אר&quot;ן) - בכל קומה</string>
	<string>בניין 72 - קומה 2 ו-6</string>
	<string>בניין 74 - קומת כניסה (ארומה)</string>
	<string>בניין 15- קומת כניסה</string>
	<string>בניין 90 - קומת כניסה ומרתף</string>
	<string>בניין 33 - קומה -1 ו-3</string>
	<string>בניין 30 - קומת כניסה</string>
	<string>בניין 55 - קומה -1</string>
	<string>בניין 59 - קומה 2</string>
	<string>בניין 39 - קומה 0</string>
</array>
</plist>
